:root {
    --width: 88vw;
    --standard-size: 1.7vh;
    --margin-top-bottom: 3px;
}
@media only screen and ((min-width: 768px) and (max-width: 1222px)) {
    :root {
        --width: 70vw;
    }
}

@media only screen and ((min-width: 1223px)) {
    :root {
        --width: 40vw;
    }
}
* {
    box-sizing: content-box;
    border: none;
    margin: 0;
    padding: 0;
    font-size: calc(var(--standard-size) * 0.75);
    margin-top: 0.5px;
    margin-bottom: 0.5px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1vh;
}

/* common class */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5vh;
}
.hor-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--width);
    max-width: 900px;
}
.bold {
    font-weight: bold;
}
.description {
    width: var(--width);
    max-width: 900px;
}
.project {
    align-self: start;
}

/*  */
h1 {
    font-size: var(--standard-size);
    width: 90vw;
    text-align: center;
    
}
h2 {
    font-size: calc(var(--standard-size) * 0.8);
}

ul[class='hor-box'] {
    align-self: center;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 15px;
    width: calc(0.9 * var(--width));
    max-width: calc(0.9 * 900);
    list-style-position: inside;
    margin: 0;
    padding: 0;
    
}
li {
    font-size: calc(var(--standard-size) * 0.65);
}
li:first-child {
    list-style: none;
}
section {
    margin-bottom: var(--margin-top-bottom);
    margin-top: calc(1.5 * var(--margin-top-bottom));
}

span {
    font-weight: normal;
}

#position {
    width: var(--width);
    max-width: 900px;
    text-align: end;
    font-style: italic;
}

